# Configuración del Servidor
PORT=3000

# Conexión a la Base de Datos MySQL
DB_HOST=localhost
DB_USER=nano
DB_PASSWORD=admin123
DB_NAME=taskAppDb
DB_PORT=3306

# Seguridad y JWT
JWT_SECRET=esto-es-secreto
JWT_REFRESH_SECRET=esta-es-la-llave-para-renovar
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# CONFIGURACIÓN API MAILTRAP (SANDBOX)
MAILTRAP_TOKEN=6737b985d15307c8def41ab4d76e0c2c
MAILTRAP_INBOX_ID=4580194
